<div class="container">
    <h1 class="catalog__h1">Details</h1>
    <section class="details">
        {{#with room}}
            <img src="{{imgUrl}}" alt="">
            <h3 class="details__city">{{city}}</h3>
            <p><span class="details__price">${{price}}</span> / night</p>
            <p>Beds: {{beds}}</p>
            <p>{{description}}</p>
            {{#if isOwner}}
               <a href="/facility/{{_id}}/decorateRoom" class="button">Facilities</a>
               <a href="/room/{{_id}}/edit" class="button">Edit Room</a>
               <a href="/room/{{_id}}/delete" class="button">Delete</a>
            {{/if}}
            <ul>
                {{#each facilities}}
                    <li>{{iconUrl}} {{label}}</li>
                {{/each}}
            </ul>
        {{/with}}
    </section>
</div>