<a href="/catalog/{{_id}}">
    <div class="catalog-card">
        <div class="catalog-card__header">
            <img src="{{imgUrl}}" alt="{{city}}" class="catalog-card__img">
        </div>
        <div class="catalog-card__body">
            <h3 class="catalog-card__city">{{city}}</h3>
            <p><span class="catalog-card__price">${{price}}</span> / night</p>
        </div>
    </div>
</a>